body {
  min-width: 375px;
  width: 100%;
  /* background-image: url("./assets/mobile/image-host.jpg");
  background-repeat: no-repeat;*/
  background-blend-mode: screen;
  font-family: "Chivo";
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
body > img {
  width: 100%;
  opacity: 0.5;
}

main {
  position: absolute;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
  margin-bottom: 57px;
}

.podcast {
  padding: 57px 24px 94px 24px;
}

.publish {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #54e6af;
}

h1 > span {
  color: #ffffff;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #c2cbe5;
}

.icons {
  margin-top: 33px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.icons > img {
  width: 20%;
}
